flow.txt
[{"id":"3d9b8916.a4bb16","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"edafbe4d.6d50c","type":"inject","z":"3d9b8916.a4bb16","name":"","topic":"","payload":"good afternoon","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["f1d86ebd.eb13"]]},{"id":"f1d86ebd.eb13","type":"debug","z":"3d9b8916.a4bb16","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":140,"wires":[]},{"id":"85f8d119.48553","type":"debug","z":"3d9b8916.a4bb16","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"c87d06e1.eeeb88","type":"ibmiot in","z":"3d9b8916.a4bb16","authentication":"apiKey","apiKey":"a9870cd0.c1969","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1004","applicationId":"","deviceType":"Nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":220,"wires":[["85f8d119.48553","570012c7.079e4c","989b77d7.31dbf8","390da9de.a83296"]]},{"id":"570012c7.079e4c","type":"function","z":"3d9b8916.a4bb16","name":"","func":"global.set(\"temperature\",msg.payload.d.temperature);\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["85f8d119.48553","3c9fe8e6.29bf98"]]},{"id":"989b77d7.31dbf8","type":"function","z":"3d9b8916.a4bb16","name":"","func":"global.set(\"humidity\",msg.payload.d.humidity);\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["85f8d119.48553","7c580851.e01078"]]},{"id":"3c9fe8e6.29bf98","type":"ui_gauge","z":"3d9b8916.a4bb16","name":"","group":"37fea32.f15b25c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ffff00","#e6e600","#f8150a"],"seg1":"","seg2":"","x":570,"y":300,"wires":[]},{"id":"7c580851.e01078","type":"ui_gauge","z":"3d9b8916.a4bb16","name":"","group":"37fea32.f15b25c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#fa1307"],"seg1":"","seg2":"","x":590,"y":380,"wires":[]},{"id":"c39a1bc8.d90858","type":"http in","z":"3d9b8916.a4bb16","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":440,"wires":[["49df2a8b.1c0484"]]},{"id":"fdda4b86.d307a8","type":"http response","z":"3d9b8916.a4bb16","name":"","statusCode":"","headers":{},"x":450,"y":440,"wires":[]},{"id":"49df2a8b.1c0484","type":"function","z":"3d9b8916.a4bb16","name":"","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["fdda4b86.d307a8"]]},{"id":"95d1153.1a1a3e8","type":"ui_button","z":"3d9b8916.a4bb16","name":"","group":"37fea32.f15b25c","order":2,"width":0,"height":0,"passthru":false,"label":"Light On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Light On","payloadType":"str","topic":"","x":640,"y":460,"wires":[[]]},{"id":"47cfc9e1.471048","type":"ui_button","z":"3d9b8916.a4bb16","name":"","group":"37fea32.f15b25c","order":3,"width":0,"height":0,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Light Off","payloadType":"str","topic":"","x":600,"y":440,"wires":[[]]},{"id":"660059c1.1a6378","type":"ibmiot out","z":"3d9b8916.a4bb16","authentication":"apiKey","apiKey":"a9870cd0.c1969","outputType":"cmd","deviceId":"1004","deviceType":"Nodemcu","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":780,"wires":[]},{"id":"c06afe10.359b7","type":"debug","z":"3d9b8916.a4bb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":700,"wires":[]},{"id":"27a28c8f.1d65b4","type":"http in","z":"3d9b8916.a4bb16","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["fc7b853.7100978"]]},{"id":"69075d88.834014","type":"http response","z":"3d9b8916.a4bb16","name":"","statusCode":"","headers":{},"x":530,"y":760,"wires":[]},{"id":"fc7b853.7100978","type":"function","z":"3d9b8916.a4bb16","name":"","func":"var cval=msg.payload.message\nglobal.set(\"counting\",cval)\nmsg.payload=cval\nreturn msg","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["69075d88.834014","c06afe10.359b7","660059c1.1a6378"]]},{"id":"390da9de.a83296","type":"cloudant out","z":"3d9b8916.a4bb16","name":"","cloudant":"","database":"weatherdatabase","service":"sip-iot-app1-cloudantNoSQLDB","payonly":false,"operation":"insert","x":390,"y":380,"wires":[]},{"id":"84491a85.1ad258","type":"watson-conversation-v1","z":"3d9b8916.a4bb16","name":"","workspaceid":"084f4c8e-9c34-4853-a331-ed14b5a5691c","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":220,"y":980,"wires":[["891d270f.d5e908"]]},{"id":"9d671d0.962cae","type":"debug","z":"3d9b8916.a4bb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":1180,"wires":[]},{"id":"891d270f.d5e908","type":"function","z":"3d9b8916.a4bb16","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1000,"wires":[["ec0c4f1c.4b797"]]},{"id":"927e5328.2a2a7","type":"ui_form","z":"3d9b8916.a4bb16","name":"","label":"","group":"37fea32.f15b25c","order":4,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":1040,"wires":[["6c426fb4.d8fc6"]]},{"id":"6c426fb4.d8fc6","type":"function","z":"3d9b8916.a4bb16","name":"","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1040,"wires":[["84491a85.1ad258","2e88ec54.9fd114"]]},{"id":"2e88ec54.9fd114","type":"ui_text","z":"3d9b8916.a4bb16","group":"37fea32.f15b25c","order":5,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":980,"wires":[]},{"id":"d4a84734.94e468","type":"ui_text","z":"3d9b8916.a4bb16","group":"37fea32.f15b25c","order":6,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1020,"wires":[]},{"id":"ec0c4f1c.4b797","type":"switch","z":"3d9b8916.a4bb16","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"light off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":310,"y":1060,"wires":[["46e2192a.f72308"],["a04d06f6.9005e8"],["6c434cdd.84b984"],["c881ae8.a2a885"],["d4a84734.94e468","9d671d0.962cae"]]},{"id":"a04d06f6.9005e8","type":"function","z":"3d9b8916.a4bb16","name":"humidity","func":"msg.payload=\"The humidity value is\"\nmsg.payload +=global.get(\"humidity\")\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1120,"wires":[["d4a84734.94e468"]]},{"id":"46e2192a.f72308","type":"function","z":"3d9b8916.a4bb16","name":"temperature","func":"msg.payload=\"The temperature value is\"\nmsg.payload +=global.get(\"temperature\")\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1038,"wires":[["9d671d0.962cae","d4a84734.94e468"]]},{"id":"6c434cdd.84b984","type":"function","z":"3d9b8916.a4bb16","name":"lighton","func":"msg.payload=\"The light is on\"\nmsg.payload +=global.get(\"lighton\")\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["d4a84734.94e468"]]},{"id":"c881ae8.a2a885","type":"function","z":"3d9b8916.a4bb16","name":"lightoff","func":"msg.payload=\"The light is off\"\nmsg.payload +=global.get(\"lightoff\")\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1200,"wires":[["d4a84734.94e468"]]},{"id":"64c4d57c.43d39c","type":"ibmiot in","z":"3d9b8916.a4bb16","authentication":"apiKey","apiKey":"a9870cd0.c1969","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1004","applicationId":"","deviceType":"Nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":480,"wires":[["d2e52754.1c40f8"]]},{"id":"d2e52754.1c40f8","type":"function","z":"3d9b8916.a4bb16","name":"count","func":"global.set(msg.payload)\nreturn {payload:msg.payload}","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["5c6fcb04.91d2a4"]]},{"id":"5c6fcb04.91d2a4","type":"debug","z":"3d9b8916.a4bb16","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":480,"wires":[]},{"id":"7b592eb6.78d7a","type":"http in","z":"3d9b8916.a4bb16","name":"","url":"/value","method":"get","upload":false,"swaggerDoc":"","x":110,"y":820,"wires":[["cb0ab9c5.39ac78"]]},{"id":"cb0ab9c5.39ac78","type":"function","z":"3d9b8916.a4bb16","name":"out","func":"msg.payload={\"val\":global.get(\"counting\")}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":820,"wires":[["70931317.3e302c","660059c1.1a6378","91f66745.e6c6b8"]]},{"id":"70931317.3e302c","type":"http response","z":"3d9b8916.a4bb16","name":"","statusCode":"","headers":{},"x":500,"y":820,"wires":[]},{"id":"91f66745.e6c6b8","type":"debug","z":"3d9b8916.a4bb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":860,"wires":[]},{"id":"a9870cd0.c1969","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"2l8odj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"37fea32.f15b25c","type":"ui_group","z":"","name":"Default","tab":"6beb93d3.513f5c","disp":true,"width":"6","collapse":false},{"id":"6beb93d3.513f5c","type":"ui_tab","z":"","name":"bot","icon":"dashboard","disabled":false,"hidden":false}]